body {
	width: 88%;
	max-width: 40em;
	margin: 1em auto;
}

section {
	display: flex;
	align-items: center;
	gap: 1em;
	color: #000;
}
.form {
	align-items: baseline;
	gap: 1em;
	display: flex;
}

h1 {
	background-color: #fff;
}
