.toc {
	padding-left: 1em;
	list-style: none;
}

.h2 {
	display: inline-block;
	margin-top: 0.5em;
	font-size: 20px;
}

.h3 {
	margin-left: 2ch;
	font-size: 18px;
}

.h4 {
	margin-left: 4ch;
	font-size: 18px;
}
